.block-banner-main {

    .container-fluid {
        position: absolute;
        z-index: 0;

        .row {

            .col-md-12 {
                padding: 0px;

                .owl-carousel-main {
                    
                    .item {
                        min-height: 430px;
                        background-color: transparent;
                        background-position: top center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }

    .container {
        position: relative;
        padding-top: 40px;
        z-index: 1;

        .content-info {
            padding: 25px 20px 15px 20px;
            background: transparent url('../img/bgClaim.png');

            h1 {
                margin: 0px 0px 10px 0px;
                font-size: 18px;
                color: #333;
            }

            h2 {
                margin: 17px 0px;
                font-weight: 700;
                font-size: 18px;
                color: #FFA200;
            }

            p {
                margin: 0px 0px 5px 0px;
                text-align: justify;
                font-size: 14px;
                color: #434343;
            }
            
            a {

                &:nth-of-type(1) {
                    margin: 0px;
                    padding: 3px 17px 5px 17px;
                    text-decoration: none;
                    font-size: 14px;
                    color: #FFF;
                    border: none;
                    background: #5b5b5b;
                    
                    &:hover {
                        background: #ffa200;
                    }
                }

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    padding: 5px;
                    border: 1px solid #8c8c8b;
                    background-color: #FFF;
                    display: inline-block;
                }
                
                &:nth-of-type(2) {
                    margin-right: 50px;
                }
            }
        }
    }

    form {
        width: 100%;
        float: left;
        padding: 20px;
        margin-top: 35px;
        background: transparent url('../img/bgForm.png');

        .form-group {
            
            h1 {
                margin: 0px 0px 25px 0px;
                line-height: 23px;
                font-size: 22px;
                color: #ffa200;
            }
            
            label {
                font-weight: 400;
                color: #FFF;

                a {
                    text-decoration: underline;
                    color: #FFF;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .form-control {
                height: 25px;
                margin-bottom: 15px;
                border: none;
                color: #6B6B6B;
                font-size: 13px;
                padding: 5px 3px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }

            textarea {
                height: auto !important;
            }

            button {
                padding: 4px 17px 4px 17px;
                border: none;
                color: #FFF;
                background-color: #FFA200;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;

                &:hover {
                    background-color: #5b5b5b;
                }
            }
        }
    }
}

@media (max-width: $screen-md) {
    
    .block-banner-main {

        .container-fluid {

            .row {

                .col-md-12 {

                    .owl-carousel-main {
                        
                        .item {
                            min-height: 725px;
                        }
                    }
                }
            }
        }

        .container {
            padding-bottom: 40px;
        }
    }
}

@media (max-width: $screen-sm) {
    
     .block-banner-main {

        .container-fluid {
            display: none;
        }

        .container {
            padding-bottom: 0px;
        }
    }
}