nav.navbar {
    padding: 30px 0px 20px 0px;
    margin: 0px;
    border-radius: 0px;
    border: none;
    background-color: #FFF;

    .navbar-header {

        .navbar-brand {
            height: auto;
            margin-left: 0px;
            padding: 0px 0px 0px 0px;
        }
    }

    .navbar-nav {

        > li {

            > a {
                padding: 0px 15px;
                background-color: transparent;
                text-align: center;
                color: #717171;
                
                &.active,
                &:hover {
                    text-decoration: underline;
                    color: #b3b3b3;
                }
            }
        }
    }
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

}

@media (max-width: $screen-md) {
      
}

@media (max-width: $screen-sm) {
    
}

@media (max-width: $screen-sm) {

}