.block-content-main {
    padding: 30px 0px 50px 0px;

    .col-md-3 {

        select {
            margin-bottom: 30px;
        }

        ul {
            padding-left: 0px;
            margin-bottom: 0px;
            list-style: none;

            li {
                
                h2 {
                    width: 100%;
                    margin: 0px;
                    padding: 5px 20px;
                    float: left;
                    font-size: 23px;
                    color: #FFF;
                    background: #686868;
                }
                
                a {
                    width: 100%;
                    margin: 0px;
                    float: left;
                    padding: 10px 20px;
                    font-size: 14px;
                    color: #6d6d6d;
                    text-decoration: none;
                    background-color: #f7f7f7;
                    border-left: 1px solid #EDEDED;
                    border-right: 1px solid #EDEDED;
                    border-bottom: 1px solid #EDEDED;

                    &:hover {
                        border-right: 5px solid #ffa200;
                        color: #ffa200;
                        background-color: #FFF;
                    }
                }

                &:nth-of-type(22),
                &:nth-of-type(23) {

                    a {
                        font-size: 23px;
                        color: #FFF;
                        background: #686868;

                        &:hover {
                            color: #FFA200;
                            border-right: none;
                            background: #686868 url('../img/border-right-orange.jpg') center right no-repeat;
                        }
                    }
                }

                &:nth-of-type(23) {

                    a {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}